@{
    ViewBag.Title = "Toplantı Özeti";
}

<div class="text-center">
    <h1 class="h4">Toplantı Özeti</h1>
    <p>Toplantıya sizinle birlikte 20 kişi katılıyor</p>
    <a class="btn btn-sm btn-outline-primary" asp-controller="meeting" asp-action="list">Katılımcıları Listele</a>
</div>

