@{
    ViewBag.Title = "Katılımcı Listesi";
}

<h1 class="h4">Toplantı Katılımcı Listesi</h1>

<table class="table table-bordered">
    <thead>
        <td>Ad</td>
        <td>Katılım Durumu</td>
        <td></td>
    </thead>
    <tbody>
        <tr>
            <td>Sadık Turan</td>
            <td>Evet</td>
            <td>
                <a href="" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>

        <tr>
            <td>Mehmet Fatih Durna</td>
            <td>Evet</td>
            <td>
                <a href="" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>
    </tbody>
</table>
